* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.pokemon_detail-card {
  position: relative;
  width: 100%;
  padding: 30px 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: radial-gradient(circle at 50% 0%, #242526 36%, #fff 36%);
}
.pokemon_detail-card img {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 20px auto;
}
.pokemon_detail-hp {
  width: 80px;
  background-color: #ffffff;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 400;
}
.pokemon_detail-name {
  text-align: center;
  font-weight: 600;
}
.pokemon_detail-type {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;

  span {
    background-color: #242526;
  }
}
.pokemon_detail-hp span,
.pokemon_detail-type span {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 600;
}
.pokemon_detail-type span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #ffffff;
}
.pokemon_detail-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.pokemon_detail-stats p {
  color: #404060;
}
